.container {
    padding:0.1rem;
    background-image: url(../images/page_bg.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color:#001b2d;
    font-family: 'microsoft yahei',Arial,sans-serif;

}
.wrap {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.wrap-left {
    width: 7.02rem;
    height: 100%;
    float: left;
    margin-left:1%;
}
.wrap-right {
    width: 9.22rem;
    height: 100%;
    float: right;
    margin-right:1%;
}
.wrap .bgsize{
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
}
.charts{
    width:100%;
    height:100%;
    float: left;
}
.agent-box{
    width: 100%;
    height: 8.7rem;
    margin-top:0.5rem;
    margin-bottom:0.5rem;
    padding: 0.3rem;
    background: url(../images/dls_bg.png) no-repeat;
}
.cdz-box{
    width: 100%;
    height: 8.94rem;
    padding: 0.3rem;
    background: url(../images/cdz_bg.png) no-repeat;
}
.realtime-progress-box{
    width: 100%;
    height: 5.55rem;
    margin-top:0.5rem;
    margin-bottom:0.5rem;
    padding: 0.3rem;
    background: url(../images/ssdata_bg.png) no-repeat;
    position:relative;
}
.flex-table{
    width:92%;
    position:absolute;
    bottom:15px;
    left:4%;
    text-align:center;
    overflow: hidden;
    font-family: 'PingFangSC-Regular', sans-serif;
}
.flex-header span{
    width:calc(100%/3);
    float:left;
    color:#ced00a;
    font-size:14px;
    padding:5px 0;
}
.list-item{
    width:100%;
    padding:5px 0;
    margin-bottom:3px;
    background:rgba(0,137,255,0.15);
    overflow:hidden;
}
.list-item span{
    width:calc(100%/3);
    float:left;
}
.azcdz-box{
    width: 100%;
    height: 5.72rem;
    margin-bottom:0.5rem;
    padding: 0.3rem;
    background: url(../images/azcdz_bg.png) no-repeat;
}
.cdfs-box{
    width: 100%;
    height: 5.6rem;
    padding: 0.3rem;
    background: url(../images/cdfs_bg.png) no-repeat;
}
.flex-box{
    width:100%;
    height:100%;
}
.flex-item{
    width:calc(100%/3);
    height:100%;
    float:left;
}
@media only screen and (min-width: 1920px){
    .wrap-left {
        width:6.4rem
    }
    .wrap-right {
        width:8.4rem
    }
    .agent-box{
        height:7.93rem;
        margin-bottom:0;
    }
    .cdz-box{
        height:8.15rem;
    }
    .realtime-progress-box{
        height:5.06rem;
        margin-bottom:0.3rem;
    }
    .azcdz-box{
        height:5.21rem;
        margin-bottom:0.28rem;
    }
    .cdfs-box{
        height:5.11rem;
    }
}